<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.surprisekhoza.sktunnel">

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- VPN -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".SKTunnelApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SK Tunnel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SKTunnel">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- VPN SERVICE -->
        <service
            android:name=".vpn.SingboxVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="vpn">

            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

        </service>

    </application>

</manifest>